<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <img src="/images/logo512.png" alt="">
    <h1>Alkemy Challenge Node </h1>
    <p>Bienvenidos al Challenge de <a href="https://www.linkedin.com/in/guillermoquattrocchi/">Guillermo Quattrocchi</a></p>

    <h2>Secciones</h2>
    <a href="/api-doc">Swagger Api UI</a>
  </body>
</html>
